@charset "UTF-8";
/* Зкиданния */
@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  fill: currentColor;
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote {
  margin: 0;
}

cite {
  display: block;
  font-style: normal;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

fieldset {
  padding: 0;
  border: none;
}

textarea {
  padding: 0;
  margin: 0;
  border: none;
}

/* Зкиданния */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  fill: currentColor;
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote {
  margin: 0;
}

cite {
  display: block;
  font-style: normal;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

fieldset {
  padding: 0;
  border: none;
}

textarea {
  padding: 0;
  margin: 0;
  border: none;
}

.nav__link {
  font-size: 16px;
  line-height: 1.1875;
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.143;
  }
}

.hero__title {
  font-size: 28px;
  line-height: 1.1786;
  width: 266px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 42px;
    line-height: 1.1905;
    width: 537px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 48px;
    line-height: 1.2085;
    width: 502px;
  }
}

.hero__desc {
  margin-top: 28px;
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .hero__desc {
    font-size: 16px;
    line-height: 1.5;
    width: 336px;
    margin-top: 44px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__desc {
    width: 502px;
    margin-top: 28px;
  }
}

.favorites__title {
  font-size: 28px;
  line-height: 1.1786;
}
@media screen and (min-width: 768px) {
  .favorites__title {
    font-size: 42px;
    line-height: 1.1667;
  }
}

.hero__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  border: none;
  border-radius: 30px;
  background-color: #bbf330;
  padding: 6px 18px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #b5ff00;
}

body {
  padding-top: 72px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.1429;
  color: #2c2c2c;
  background-color: #fefefe;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.1875;
  }
}

.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  scroll-margin-top: 72px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

html[lang=en] {
  scroll-behavior: smooth;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #ffffff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  height: 72px;
}
@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: block;
    padding: 6 18;
    background-color: #bbf330;
    border-radius: 30px;
    color: inherit;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .header__button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .header__button:hover, .header__button:focus {
    background-color: #b5ff00;
  }
}
@media screen and (min-width: 768px) {
  .header__nav {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    flex-direction: column;
    overflow: hidden;
    z-index: 11;
    top: 20px;
    right: 20px;
    width: 130px;
    height: 255px;
    background-color: #ffe550;
    border-radius: 30px 0px 30px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922), 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform-origin: top right;
    transform: translateY(-100) rotate(-180deg);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: top right;
  }
  .menu-container.is-open {
    transform: rotate(0deg);
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 28px;
  }
}
.nav__link {
  color: #000000;
}
@media screen and (max-width: 767px) {
  .nav__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 16px 16px;
  }
  .nav__link:hover, .nav__link:focus {
    background-color: #bbf330;
  }
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
    position: relative;
    padding: 28px 0;
    text-shadow: 0 0 15px rgba(105, 105, 105, 0.1);
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav__link:after, .nav__link:before {
    content: "";
    position: absolute;
    width: 0%;
    display: block;
    height: 2px;
    transition: all 0.3s ease;
    margin-top: 2px;
    transition: all 300ms ease-in;
  }
  .nav__link:after {
    bottom: 25%;
    left: 0;
  }
  .nav__link:before {
    top: 25%;
    right: 0;
  }
  .nav__link:hover::after {
    width: 100%;
    height: 2px;
    bottom: 25%;
    background-color: #bbf330;
  }
  .nav__link:hover::before {
    width: 100%;
    height: 2px;
    top: 25%;
    background-color: #bbf330;
  }
}

.js-open-menu {
  height: 28px;
  width: 28px;
}
@media screen and (min-width: 768px) {
  .js-open-menu {
    display: none;
  }
}
.js-open-menu__icon {
  fill: #7eb101;
}

.js-open-menu:hover .js-open-menu__icon, .js-open-menu:focus .js-open-menu__icon {
  fill: #ffe550;
}

@media screen and (max-width: 767px) {
  .js-close-menu {
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    top: 4px;
    right: 4px;
    z-index: 12;
  }
}
@media screen and (min-width: 768px) {
  .js-close-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: auto;
  }
}

.hero {
  padding-top: 60px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .hero {
    margin: 0 auto;
    background-image: url(../images/bg-hero-tab.png);
    background-repeat: no-repeat;
    background-size: 100% 150px;
    background-position: bottom;
    padding-bottom: 115px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    background-image: url(../images/bg-hero.png);
    background-repeat: no-repeat;
    background-size: 100% 200px;
    background-position: bottom;
    padding-top: 15px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .hero .container {
    position: relative;
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .hero .container {
    justify-content: space-between;
    align-items: center;
  }
}

.hero__slider {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__slider {
    display: block;
    position: absolute;
    top: 89px;
    right: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__slider {
    position: static;
    margin-right: 16px;
  }
}

.slider {
  display: block;
  min-width: 0;
  width: 320px;
  height: 320px;
  background-color: #fefefe;
  border-radius: 50%;
  border: 14px solid #ffe550;
}
@media screen and (min-width: 1280px) {
  .slider {
    width: 580px;
    height: 580px;
    border: 26px solid #ffe550;
  }
}

.slick-list {
  overflow: hidden;
  border-radius: 50%;
}

.slick-arrow {
  display: flex;
  align-items: center;
  width: 34px;
  height: 28px;
  border: none;
  border-radius: 8px;
  background-color: #fefefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  z-index: 5;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1280px) {
  .slick-arrow {
    width: 48px;
    height: 40px;
  }
}
.slick-arrow.slick-prev {
  left: -22px;
  padding-left: 9px;
}
.slick-arrow.slick-prev::before {
  content: "";
  background-image: url(../images/slider/arrow-prev-tab.svg);
  width: 11px;
  height: 20px;
  opacity: 1;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.slick-arrow.slick-prev:hover::before {
  content: "";
  background-image: url(../images/slider/arrow-prev-hover-tab.svg);
  width: 11px;
  height: 20px;
}
@media screen and (min-width: 1280px) {
  .slick-arrow.slick-prev {
    left: -40px;
    padding-left: 13px;
  }
  .slick-arrow.slick-prev::before {
    content: "";
    background-image: url(../images/slider/arrow-prev.svg);
    width: 16px;
    height: 29px;
    opacity: 1;
  }
  .slick-arrow.slick-prev:hover::before {
    content: "";
    background-image: url(../images/slider/arrow-prev-hover.svg);
    width: 16px;
    height: 29px;
  }
}
.slick-arrow.slick-next {
  right: -22px;
  padding-left: 14px;
}
.slick-arrow.slick-next::before {
  content: "";
  background-image: url(../images/slider/arrow-next-tab.svg);
  width: 11px;
  height: 20px;
  opacity: 1;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.slick-arrow.slick-next:hover::before {
  content: "";
  background-image: url(../images/slider/arrow-next-hover-tab.svg);
  width: 11px;
  height: 20px;
}
@media screen and (min-width: 1280px) {
  .slick-arrow.slick-next {
    right: -40px;
    padding-left: 19px;
  }
  .slick-arrow.slick-next::before {
    content: "";
    background-image: url(../images/slider/arrow-next.svg);
    width: 16px;
    height: 29px;
    opacity: 1;
  }
  .slick-arrow.slick-next:hover::before {
    content: "";
    background-image: url(../images/slider/arrow-next-hover.svg);
    width: 16px;
    height: 29px;
  }
}
.slick-arrow:hover, .slick-arrow:focus {
  background-color: #fefefe;
}
.slick-arrow:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.offerings {
  background-image: url("../images/offerings/rectangle_320.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .offerings {
    background-image: url("../images/offerings/rectangle_480.png");
  }
}
@media screen and (min-width: 768px) {
  .offerings {
    padding-top: 0;
    background-color: #ffe550;
  }
}
@media screen and (min-width: 1280px) {
  .offerings {
    padding-top: 0;
    background-color: #ffe550;
  }
}
@media screen and (min-width: 1280px) {
  .offerings--flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-flow: nowrap;
    gap: 90px;
  }
}
.offerings__img {
  margin-bottom: 60px;
}
@media screen and (min-width: 1280px) {
  .offerings__img {
    max-width: 550px;
    margin-bottom: -57px;
  }
}
.offerings__label {
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .offerings__label {
    margin-bottom: 40px;
    width: 526px;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__label {
    width: 500px;
  }
}
.offerings__title {
  margin-bottom: 28px;
  scroll-margin-top: 130px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: #2c2c2c;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .offerings__title {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .offerings__text-primary {
    font-size: 16px;
    line-height: 1.19;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__text-primary {
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  .offerings__text-secondary {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__text-secondary {
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  .offerings__tb {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 116px;
    flex-flow: nowrap;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__tb {
    margin-bottom: 32px;
    gap: 67px;
  }
}
@media screen and (max-width: 767px) {
  .offerings__features {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 768px) {
  .offerings__features {
    width: 252px;
  }
}
.offerings__title-icon {
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
}
.offerings__btn-commons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 24px;
}
.offerings__btn {
  padding: 10px 22px;
  background-color: #ffffff;
  border: 2px solid #7eb101;
  border-radius: 30px;
  color: inherit;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5384;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.offerings__btn:hover, .offerings__btn:focus {
  border-color: #597d00;
}
.offerings__link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #000000;
}
@media screen and (min-width: 1280px) {
  .offerings__link {
    display: none;
  }
}

@media (max-width: 767px) {
  .apple-tab {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .apple-md {
    display: none;
  }
}
@media (min-width: 1280px) {
  .apple-tab {
    display: none;
  }
}
.favorites__title,
.favorites__text {
  text-align: center;
}

.favorites__title {
  margin-bottom: 20px;
}

.favorites__text {
  margin-bottom: 60px;
}
@media screen and (min-width: 1280px) {
  .favorites__text {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .favorites-set {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
  }
}

@media screen and (max-width: 767px) {
  .favorites-set__item:nth-child(-n+2) {
    margin-bottom: 20px;
  }
  .favorites-set__item:nth-child(n+4) {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .favorites-set__item {
    width: calc((100% - 64px) / 2);
    margin: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .favorites-set__item {
    width: calc((100% - 96px) / 3);
  }
}

.favorites-set__plate {
  margin-left: auto;
  margin-right: auto;
  padding: 17px;
  width: 280px;
  height: 280px;
  border: 11px solid #ffe550;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .favorites-set__plate {
    width: 336px;
    height: 336px;
    border: 14px solid #ffe550;
    border-radius: 50%;
    padding: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .favorites-set__plate {
    width: 395px;
    height: 395px;
    border: 16px solid #ffe550;
    border-radius: 50%;
    padding: 24px;
  }
}
.favorites-set__plate:hover, .favorites-set__plate:focus {
  border-color: #bbf330;
}

.section_customers {
  background-image: url("../images/customers_mob_1x_320.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media screen and (min-width: 480px) {
  .section_customers {
    background-image: url("../images/customers-mob_1x_480.png");
  }
}
@media screen and (min-width: 768px) {
  .section_customers {
    background-image: url("../images/customers_tab_1x_768.png");
    padding-bottom: 120px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .section_customers {
    padding-top: 100px;
    padding-bottom: 200px;
    background-image: url("../images/customers_desk_1x_1280.png");
  }
}

.title_customers {
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2c2c2c;
}
@media screen and (min-width: 768px) {
  .title_customers {
    font-size: 42px;
    line-height: 1.16;
  }
}

.paragraf_customers {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .reviews_first {
    display: flex;
    flex-direction: row;
  }
}

.reviews_item {
  background-color: #FFFFFF;
  margin-bottom: 24px;
  border-radius: 0px 30px 30px 30px;
  padding: 8px;
}
.reviews_item:nth-child(2n) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .reviews_item {
    padding: 12px;
    margin-right: 32px;
    width: 336px;
    margin-bottom: 0;
  }
  .reviews_item:not(:first-child) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .reviews_item {
    padding: 14px;
    width: 501px;
    margin-right: 139px;
    margin-bottom: 0;
  }
  .reviews_item:last-child {
    margin-right: 0;
  }
}

.reviews_icon {
  display: flex;
  flex-direction: row;
}

.reviews_svg {
  margin-right: 4px;
}
.reviews_svg:last-child {
  margin-right: 0;
}

.reviews_paragraf {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  margin-top: 28px;
  color: #2c2c2c;
}
@media screen and (min-width: 768px) {
  .reviews_paragraf {
    font-size: 18px;
    line-height: 1.16;
  }
}

.people {
  display: flex;
  justify-content: row;
  margin-top: 40px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.people_img {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.about {
  border-right: 0.854167px solid #7EB101;
  padding-right: 15px;
}

.about_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 2px;
  color: #2c2c2c;
}
@media screen and (min-width: 1280px) {
  .about_name {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.about_nick {
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
}

.backdrop {
  z-index: 15;
  position: fixed;
  top: 0;
  transform: scaleY(0);
  transform-origin: top;
  width: 100vw;
  height: 100vh;
  background-color: rgba(94, 99, 99, 0.7);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .backdrop {
    max-height: 720px;
  }
}

.modal {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
  width: 100%;
  max-width: 320px;
  padding: 32px 20px;
  border-radius: 30px;
  background-color: #ffe550;
}
@media screen and (max-height: 520px) {
  .modal {
    top: 5vh;
    max-height: 90vh;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    max-width: 459px;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 768px) and (max-height: 520px) {
  .modal {
    top: 5vh;
    height: 90vh;
    max-width: 459px;
    transform: translateX(-50%);
  }
}

.modal__close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #fefefe;
  background-color: #fefefe;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus {
  color: #7eb101;
  border-color: #7eb101;
}

.modal__close-button-ico {
  width: 24px;
  height: 24px;
}

.modal__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.modal__legend {
  margin: 0 auto 20px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}

.modal__input-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
}
.modal__input-container:not(:last-child) {
  margin-bottom: 24px;
}

.modal__input-label {
  margin-left: 12px;
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
}

.modal__text-input {
  z-index: 16;
  padding: 13px 11px;
  border-radius: 30px;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(18, 18, 18, 0.1215686275);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text-input::-moz-placeholder {
  color: #c4c4c4;
}
.modal__text-input:-ms-input-placeholder {
  color: #c4c4c4;
}
.modal__text-input::placeholder {
  color: #c4c4c4;
}
.modal__text-input:valid {
  border-color: #7eb101;
}
.modal__fieldset:focus-within:invalid .modal__text-input:invalid {
  border-color: #ff705d;
}

.modal__warning-container {
  position: absolute;
  bottom: 30%;
  transform: translateY(50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: normal;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  margin-left: 12px;
  opacity: 1;
  transition: bottom 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__fieldset:focus-within:invalid .modal__text-input:invalid + .modal__warning-container {
  bottom: -8px;
}

.warning-ico {
  width: 12px;
  height: 12px;
}

.modal__warning-text-container {
  position: relative;
}

.modal__warning-message {
  margin: 0 0 0 4px;
  font-size: 11px;
  line-height: 1.4;
  font-weight: 500;
  color: #ff705d;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__warning-message--error {
  position: absolute;
  top: 0;
  opacity: 0;
  font-size: 13px;
  line-height: 1.4;
}

.modal__button-container {
  position: relative;
}

.modal__button {
  padding: 9px 37px;
  background-color: #bbf330;
  border-radius: 30px;
  color: inherit;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  margin: 32px auto 0;
  background-color: #ffffff;
  border: 2px #7eb101 solid;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1280px) {
  .modal__button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal__button:hover, .modal__button:focus {
  background-color: #b5ff00;
}
.modal__fieldset:focus-within:invalid + .modal__button-container .modal__button {
  border-color: #ff705d;
}
.modal__fieldset:invalid + .modal__button-container .modal__button:hover, .modal__fieldset:invalid + .modal__button-container .modal__button:focus {
  background-color: #fe6060;
}
.modal__fieldset:valid + .modal__button-container .modal__button {
  background-color: #bbf330;
}

.modal__button-warning {
  z-index: 16;
  position: absolute;
  bottom: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%);
  min-width: 165px;
  padding: 16px;
  opacity: 0;
  pointer-events: none;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 500;
  color: #faedeb;
  text-align: center;
  border-radius: 30px;
  background-color: #fe6060;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-warning::after {
  content: url("../images/button-warning-tail.svg");
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 23px;
  height: 7px;
}/*# sourceMappingURL=index.css.map */