@charset "UTF-8";
/* Зкиданния */
@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  fill: currentColor;
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote {
  margin: 0;
}

cite {
  display: block;
  font-style: normal;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

fieldset {
  padding: 0;
  border: none;
}

textarea {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.1429;
  color: #2c2c2c;
  background-color: #fefefe;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.1875;
  }
}

.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.backdrop {
  z-index: 6;
  position: fixed;
  top: 0;
  transform: scaleY(0);
  transform-origin: top;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(94, 99, 99, 0.7);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .backdrop {
    max-height: 720px;
  }
}

.modal {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 320px;
  padding: 32px 20px;
  border-radius: 30px;
  background-color: #ffe550;
}
.modal::after {
  content: "";
  pointer-events: none;
  position: absolute;
  bottom: -15px;
  width: 1px;
  height: 15px;
}
@media screen and (max-height: 459px) {
  .modal {
    top: 15px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 459px;
  }
}
@media screen and (min-width: 768px) and (max-height: 459px) {
  .modal {
    top: 15px;
    transform: translateX(-50%);
    max-width: 459px;
  }
}

.modal__close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #fefefe;
  background-color: #fefefe;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus {
  color: #7eb101;
  border-color: #7eb101;
}

.modal__close-button-ico {
  width: 24px;
  height: 24px;
}

.modal__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.modal__legend {
  margin: 0 auto 20px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}

.modal__input-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
}
.modal__input-container:not(:last-child) {
  margin-bottom: 24px;
}

.modal__input-label {
  margin-left: 12px;
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
}

.modal__text-input {
  z-index: 7;
  padding: 13px 11px;
  border-radius: 30px;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(18, 18, 18, 0.1215686275);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text-input::-moz-placeholder {
  color: #c4c4c4;
}
.modal__text-input:-ms-input-placeholder {
  color: #c4c4c4;
}
.modal__text-input::placeholder {
  color: #c4c4c4;
}
.modal__text-input:valid {
  border-color: #7eb101;
}
.modal__fieldset:focus-within:invalid .modal__text-input:invalid {
  border-color: #ff705d;
}

.modal__warning-container {
  position: absolute;
  bottom: 30%;
  transform: translateY(50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: normal;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
  margin-left: 12px;
  opacity: 1;
  transition: bottom 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__fieldset:focus-within:invalid .modal__text-input:invalid + .modal__warning-container {
  bottom: -8px;
}

.warning-ico {
  width: 12px;
  height: 12px;
}

.modal__warning-text-container {
  position: relative;
}

.modal__warning-message {
  margin: 0 0 0 4px;
  font-size: 11px;
  line-height: 1.4;
  font-weight: 500;
  color: #ff705d;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__warning-message--error {
  position: absolute;
  top: 0;
  opacity: 0;
  font-size: 13px;
  line-height: 1.4;
}

.modal__button-container {
  position: relative;
}

.modal__button {
  padding: 9px 37px;
  background-color: #bbf330;
  border-radius: 30px;
  color: inherit;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  margin: 32px auto 0;
  background-color: #ffffff;
  border: 2px #7eb101 solid;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1280px) {
  .modal__button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal__button:hover, .modal__button:focus {
  background-color: #b5ff00;
}
.modal__fieldset:focus-within:invalid + .modal__button-container .modal__button {
  border-color: #ff705d;
}
.modal__fieldset:invalid + .modal__button-container .modal__button:hover, .modal__fieldset:invalid + .modal__button-container .modal__button:focus {
  background-color: #fe6060;
}
.modal__fieldset:valid + .modal__button-container .modal__button {
  background-color: #bbf330;
}

.modal__button-warning {
  z-index: 7;
  position: absolute;
  bottom: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%);
  min-width: 165px;
  padding: 16px;
  opacity: 0;
  pointer-events: none;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 500;
  color: #faedeb;
  text-align: center;
  border-radius: 30px;
  background-color: #fe6060;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-warning::after {
  content: url("../images/button-warning-tail.svg");
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 23px;
  height: 7px;
}/*# sourceMappingURL=index.css.map */