$main-font-family: Roboto, sans-serif;
$main-font-size: 14px; // на мобілках
$main-line-height: 1.1429; // на мобілках (h-16px)

$custom-black: #2c2c2c;
$black: #000000;
$white: #ffffff;

$main-bg-color: #fefefe;

$dark-green: #7eb101;

$button-green: #bbf330;
$button-green-light: #b5ff00;
$button-green-dark: #597d00;

$yellow-main: #ffe550;
$alarm-color: #ff705d;

$main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
