<section class="customers">
    <div class="container">
        <h2 class="title-customers">What our Customers Say</h2>
        <p class="paragraf-customers">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <div class="reviews-customers">
            <ul class="reviews-list">
                <li class="reviews-item">
                    <div class="reviews-icon">
                        <svg class="reviews-stars">
                            <use href=""></use>
                        </svg>
                    </div>
                    <p class="reviews-paragraf">“The Best app I have used to order food in a while, so many options to
                        choose from too, I would recommend to a freind,
                        No questions asked”</p>
                    <div class="reviews-visitor">
                        <picture>
                            <source>
                            <img src="">
                        </picture>
                    </div>
                    <div class="reviews-about">
                        <p class="reviews-name">Sumith Shah</p>
                        <p class="reviews-name">Some Dude</p>
                    </div>
                </li>

                <li class="reviews-item">
                    <div class="reviews-icon">
                        <svg class="reviews-stars">
                            <use href=""></use>
                        </svg>
                    </div>
                    <p class="reviews-paragraf">“The ease with which I can just go in and order what i want was amazing,
                        It has been a very pleasant experience ordering
                        from this app”</p>
                    <div class="reviews-visitor">
                        <picture>
                            <source>
                            <img src="">
                        </picture>
                    </div>
                    <div class="reviews-about">
                        <p class="reviews-name">Sumith Shah</p>
                        <p class="reviews-name">Some Dude</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>

