<footer class="section footer">
    <div class="container">
        <div class="wrapper__nav-sub">
            <div class="footer__navigation">
                <div class="footer__logo logo">
                    <a href="index.html" class="logo__link">
                        <svg width="66" height="52">
                            <use href="./images/icons.svg#icon-logo"></use>
                        </svg>
                    </a>
                </div>
                <div class="footer__nav nav">
                    <ul class="nav__list">
                        <li class="nav__item footer__nav-item"><a href="#Home" class="nav__link footer__nav-link">Home</a></li>
                        <li class="nav__item footer__nav-item"><a href="#About" class="nav__link footer__nav-link">About</a></li>
                        <li class="nav__item footer__nav-item"><a href="#Service" class="nav__link footer__nav-link">Service</a></li>
                        <li class="nav__item footer__nav-item"><a href="#Menu" class="nav__link footer__nav-link">Menu</a></li>
                        <li class="nav__item footer__nav-item"><a href="#Contact" class="nav__link footer__nav-link">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__subscrib subscribe">
                <div class="sub">
                    <h2 class="subscribe__titel subscribe__titel--footer">Subscribe</h2>
                    <form class="subscribe__form subscribe__form--footer" autocomplete="off" validate>
                        <label for="email" class="subscribe__label"> </label>
                        <input type="email" name="email" id="email" placeholder="Enter your email"
                            class="subscribe__input" />
                        <button type="submit" class="subscribe__button subscribe__button--footer">Subscribe</button>
                    </form>
                    <p class="subscribe__privacy-text">By subscribing you agree to with our <a href=""
                            class="subscribe__privacy-link">Privacy Policy</a></p>
                </div>
            </div>
        </div>
        <div class="footer__site-information site-info">
            <ul class="site-info__list">
                <li class="site-info__item">
                    <a href="" class="site-info__link">Privacy Policy</a>
                </li>
                <li class="site-info__item">
                    <a href="" class="site-info__link">Terms of Service</a>
                </li>
                <li class="site-info__item">
                    <a href="" class="site-info__link">Cookies Settings</a>
                </li>
            </ul>
            <p class="site-info__text">2022 FoodSta. All right reserved.</p>

        </div>
    </div>
</footer>