



<footer class="section">
    <div class="container footer">
        <div class="footer__nav"></div>
        <div class="footer__subscrib subscrib">
            <div class="sub"></div>
            <p class="subscrib__privacy-text">By subscribing you agree to with our <a href="" class="subscrib__privacy-link">Privacy Policy</a></p>
        </div>
        <div class="footer__site-information site-info">
            <ul class="site-info__list">
                <li class="site-info__item">
                    <a href="" class="site-info__link">Privacy Policy</a>
                </li>
                <li class="site-info__item">
                    <a href="" class="site-info__link">Terms of Service</a>
                </li>
                <li class="site-info__item">
                    <a href="" class="site-info__link">Cookies Settings</a>
                </li>
            </ul>
            <p class="site-info__text">2022 FoodSta. All right reserved.</p>

        </div>
    </div>
</footer>
