<header>
    <div class="container header__container">
        <div class="logo header__logo">
            <a href="index.html" class="logo__link">
                <img src="./images/logo.svg" alt="logo" width="66" height="52">
            </a>
        </div>
        <nav class="nav header__nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">About</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Service</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Menu</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
            </ul>
        </nav>
        <button class="header-button" type="button">Order Now</button>
    </div>
</header>