<ul>
    <li><button type="button" modalOpenBtn>Hi</button></li>
    <li><button type="button">No</button></li>
    <li><button type="button" modalOpenBtn>Hello</button></li>
    <li><button type="button">Nope</button></li>
    <li><button type="button" modalOpenBtn>Russian warship, go ... yourself</button></li>
    <li><button type="button">Not, really</button></li>
    <li><button type="button" modalOpenBtn>The last one</button></li>
    <li><button type="button">No, this. But not here</button></li>
</ul>