.footer {
    background-image: url(/src/images/footer/bg-mobail.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}
.footer__nav-sub {
    margin-bottom: 60px;
    @include tablet {
        margin-bottom: 100px;
    }
    @include desktop {
        display: flex;
    justify-content: space-between;
    align-items: center;
        margin-bottom: 80px;
    }
}
// ______________________________________________________

.footer__nav {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: red;
}

.subscribe {
    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        color: #2C2C2C;
        margin-bottom: 40px;

        @include tablet {
            font-size: 16px;
            margin-right: auto;
        }

        @include desktop {}
    }

    &__form {
        width: 100%;

        @include tablet {
            display: flex;
        }

        @include desktop {}
    }

    &__input:placeholder-shown {

        border: 0.85px solid rgba(255, 229, 80, 1);

    }

    &__input:invalid {
        border: 0.85px solid rgba(255, 112, 93, 1);

    }

    &__input {
        outline: none;
        width: 100%;
        height: 42px;
        padding: 12px;
        border-radius: 30px;
        border: 0.85px solid rgba(126, 177, 1, 1);
        margin-bottom: 20px;

        @include tablet {
            width: 395px;
            margin-bottom: 0;
        }

        @include desktop {}
    }

    &__button {
        height: 42px;
        border-radius: 30px;
        background-color:
            rgba(187, 243, 48, 1);
        margin-left: auto;
        margin-bottom: 40px;
        padding: 11px 22px;

        @include tablet {
            margin-left: 22px;
            margin-bottom: 0;
        }

        @include desktop {}
    }

    &__link {
        color: green;

        @include tablet {}

        @include desktop {}
    }
}

// ____________________________________________________-

.subscribe__titel--footer {
    line-height: 1.5;
    margin-bottom: 12px;
}
.subscribe__button {
    &--footer {
        margin-bottom: 0;

        @include tablet {
            margin-left: 13px;
        }
        background-color: $white;
        border: 1px solid $dark-green;
        border-radius: 30px;

        color: inherit;

        font-size: 13px;
        font-weight: 500;
        line-height: 1.5384;

        @media screen and (min-width: $desktop) {
            transition: background-color $main-transition;
        }

        &:hover,
        &:focus {
            background-color: $yellow-main;
        }
    }
}
.subscribe__form--footer {
    margin-bottom: 20px;
    @include tablet {
        margin-bottom: 12px;
    }
}

.subscribe__privacy-text {
    font-size: 12px;
    line-height: 1.16;
}

.subscribe__privacy-link {
    display: inline-block;
    position: relative;
    color: $dark-green;

    &::before {
        content: "";
        position: absolute;
        bottom: 2px;
        right: 0;
        height: 0.5px;
        width: 100%;
        background-color: $dark-green;
    }
}

.site-info {
    flex: 1 1 auto;
    @media screen and (max-width: 767px) {
        text-align: center;
    }

    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    @include desktop {
        flex-grow: 1;
    }
}

.site-info__list {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
    }
}

.site-info__item {
    &:not(:last-child) {
        margin-right: 32px;
    }
}

.site-info__link {
    transition: color $main-transition;

    display: inline-block;
    position: relative;
    color: $dark-green;
    font-size: 10px;
    line-height: 1.2;

    &::before {
        content: "";
        position: absolute;
        bottom: 1px;
        right: 0;
        height: 0.5px;
        width: 100%;
        background-color: $dark-green;
    }

    :hover,
    :focus {
        color: $button-green;
    }
}

.site-info__text {
    font-size: 10px;
    line-height: 1.2;
}