.footer {
    margin: 0 auto;
    max-width: 480px;
    background-image: url(/src/images/footer/mobail-bg/1.png), url(/src/images/footer/mobail-bg/2.png), url(/src/images/footer/mobail-bg/3.png);
    background-repeat: no-repeat;
    background-position: top right, 0 132px, bottom;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);

    @include tablet {
        background-image: url(/src/images/footer/bg-tablet.png);
        background-position: bottom right;
        background-size: cover;
        max-width: 832px;
    }
    @include desktop {
        background-image: url(/src/images/footer/bg-desctop.png);
        max-width: 1440px;
    }

}
.wrapper__nav-sub {
    margin-bottom: 60px;
    @include tablet {
        margin-bottom: 100px;
    }
    @include desktop {
        display: flex;
    justify-content: space-between;
    align-items: flex-start;
        margin-bottom: 80px;
    }
}

.footer__navigation {
    display: flex;
    
    @media screen and (max-width: 1279px) {
        margin-bottom: 40px;
    }
    @include tablet {
        align-items: center;
    }
}
.footer__nav {
    margin-left: 80px;
    @include tablet {
        margin-left: 115px;
    }
    @include desktop {
        margin-left: 150px;
    }
}
.footer__nav-item {
   width: 35%;
  
}
.footer__nav-link {
    display: inline-block;
    padding: 10px;
    border-radius: 2px;

    font-size: 14px;
    line-height: 1.14;
    @include tablet {
        padding: 10px 0;
    }
}

.subscribe__titel--footer {
    line-height: 1.5;
    margin-bottom: 12px;
}
.subscribe__button {
    &--footer {
        margin-bottom: 0;

        @include tablet {
            margin-left: 13px;
        }
        background-color: $white;
        border: 1px solid $dark-green;
        border-radius: 30px;

        color: inherit;

        font-size: 13px;
        font-weight: 500;
        line-height: 1.5384;

        @media screen and (min-width: $desktop) {
            transition: background-color $main-transition;
        }

        &:hover,
        &:focus {
            background-color: $yellow-main;
        }
    }
}
.subscribe__form--footer {
    margin-bottom: 20px;
    @include tablet {
        margin-bottom: 12px;
    }
}

.subscribe__privacy-text {
    font-size: 12px;
    line-height: 1.16;
}

.subscribe__privacy-link {
    display: inline-block;
    position: relative;
    color: $dark-green;

    &::before {
        content: "";
        position: absolute;
        bottom: 2px;
        right: 0;
        height: 0.5px;
        width: 100%;
        background-color: $dark-green;
    }
}

.site-info {
    flex: 1 1 auto;
    @media screen and (max-width: 767px) {
        text-align: center;
    }

    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    @include desktop {
        flex-grow: 1;
    }
}

.site-info__list {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
    }
}

.site-info__item {
    &:not(:last-child) {
        margin-right: 32px;
    }
}

.site-info__link {
    transition: color $main-transition;

    display: inline-block;
    position: relative;
    color: $dark-green;
    font-size: 10px;
    line-height: 1.2;

    &::before {
        content: "";
        position: absolute;
        bottom: 1px;
        right: 0;
        height: 0.5px;
        width: 100%;
        background-color: $dark-green;
    }

    :hover,
    :focus {
        color: $button-green;
    }
}

.site-info__text {
    font-size: 10px;
    line-height: 1.2;
}


