.offerings {
  background-image: url('../images/offerings/rectangle_320.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
 
@media (min-width:$mobile) {
   background-image: url('../images/offerings/rectangle_480.png');  
}

@media (min-width:$tablet) {
   padding-left: 0;
   padding-right: 0;
   background-image: url('../images/offerings/rectangle_768.png');
}

@media (min-width:$desktop) {
   background-image: url('../images/offerings/rectangle_1280.png');
}

  &__img {
    margin-top: -50px;
    margin-bottom: 60px;

    @media (min-width:768px) {
     margin-top: 150px;
    }
  }

  &__label {
    margin-bottom: 28px;
  }

  &__title {
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    color: $custom-black;
    text-transform: capitalize;

      @media (min-width:768px) {
      font-size: 42px;
      line-height: 1.17;
     }
  }

  &__text {
   @media (min-width:768px) {
      font-size: 17px;
     }
  }

  &__features {
    margin-bottom: 28px;
  }

  &__title-icon {
    margin-top: 8px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
  }

  &__btn-commons {
    @include flex-container(flex, center, center, null, null);
    gap: 24px;
  }

  &__btn {
    @include secondary-button(10px 22px);
  }

  &__link {
    @include flex-container(flex, center, center, null, null);
    gap: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: $black;
  }

  &__arrow-right {
    display: inline;
  }
}

// Turn off images of Apples for different devices

@media (max-width: 767px) {
  .apple-tab {
    display: none;
  }
}

@media (min-width: $tablet) and (max-width: 1279px) {
  .apple-md {
    display: none;
  }
}

@media (min-width: $desktop) {
  .apple-tab {
    display: none;
  }
}
