.offerings {
  background-image: url('../images/offerings/rectangle_320.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;

  &--flex {
   @media (min-width:1280px) {
      @include flex-container(row, center, start, null, null);
      flex-flow: nowrap;
      gap: 90px;
   }
  }
 
@media (min-width:$mobile) {
   background-image: url('../images/offerings/rectangle_480.png');  
}

@media (min-width:$tablet) {
   padding-left: 0;
   padding-right: 0;
   background-image: url('../images/offerings/rectangle_768.png');
}

@media (min-width:$desktop) {
   background-image: url('../images/offerings/rectangle_1280.png');
}

  &__img {
    margin-top: -50px;
    margin-bottom: 60px;

    @media (min-width:768px) {
     margin-top: 150px;
    }
  }

  &__label {
    margin-bottom: 28px;

    @media (min-width: 768px) {
      margin-bottom: 40px;
      width: 526px;
    }

     @media (min-width: 1280px) {
      width: 500px;
    }
  }

  &__title {
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    color: $custom-black;
    text-transform: capitalize;

      @media (min-width:768px) {
      margin-bottom: 20px;
      font-size: 42px;
      line-height: 1.17;
     }
  }

  &__text-primary {
   @media (min-width:768px) {
      font-size: 16px;
     }

     @media (min-width:1280px){
      line-height: 1.5;
     }
  }

  &__text-secondary {
      @media (min-width:768px) {
      font-size: 16px;
     }
     }

  &__tb {
   @media (min-width:768px) {
      margin-bottom: 40px;
       @include flex-container(row, center, start, null, null);
    gap: 116px;
    flex-flow: nowrap;
   }

    @media (min-width: 1280px) {
      margin-bottom: 32px;
      gap: 67px;
    }
  }

  &__features {
    margin-bottom: 28px;

    @media (min-width:768px) {
      width: 252px;
     }
  }

  &__title-icon {
    margin-top: 8px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
  }

  &__btn-commons {
    @include flex-container(row, center, start, null, null);
    gap: 24px;
  }

  &__btn {
    @include secondary-button(10px 22px);
  }

  &__link {
    @include flex-container(row, center, center, null, null);
    gap: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: $black;
  }

}

// Turn off images of Apples for different devices

@media (max-width: 767px) {
  .apple-tab {
    display: none;
  }
}

@media (min-width: $tablet) and (max-width: 1279px) {
  .apple-md {
    display: none;
  }
}

@media (min-width: $desktop) {
  .apple-tab {
    display: none;
  }
}
