// *{
//     outline: 1px solid tomato;
// }



.subscribe{
    background-color: white;
    
        @include mobile{
    }

    @include tablet{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    @include desktop{
        flex-direction: row-reverse;
    }
    &__box{
        margin-left: auto;
            @include tablet {}
            
                @include desktop {}

    }
 &__picture {
     
         display: block;
         margin-bottom: 17px;
     
         @include tablet {
            margin-left: auto;
         }
    
         @include desktop {}
        }
&__header{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 20px;
    @include tablet {
        font-size: 42px;
        line-height: 1.2;
        margin-right: auto;
    }
    
        @include desktop {}
}
&__text{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
    color: #2C2C2C;
    margin-bottom: 40px;
    @include tablet {
        font-size: 16px;
        margin-right: auto;
    }
    
        @include desktop {}
}
&__form{
    width: 100%;
    @include tablet {
        display: flex;
    }
    
        @include desktop {}
}
&__input:placeholder-shown{
   
    border: 0.85px solid rgba(255, 229, 80, 1);

}
&__input:invalid {
    border: 0.85px solid rgba(255, 112, 93, 1);

}

&__input{
    outline: none;
    width: 100%;
height: 42px;
padding: 12px;
border-radius:30px;
border: 0.85px solid rgba(126, 177, 1, 1);
margin-bottom: 20px;
@include tablet {
    width: 395px;
}
    @include desktop {}
}
&__button{
    height: 42px;
    border-radius: 30px;
    background-color:
     rgba(187, 243, 48, 1);
     margin-left: auto;
     margin-bottom: 40px;
     padding: 11px 22px;
    @include tablet {
        margin-left: 22px;
        margin-bottom: 0;
    }
    
        @include desktop {}
}
&__link{
    color: green;
    @include tablet {}
    
        @include desktop {}
}
}
